<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>medical help</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <style>body{
        margin: 0;
        padding: 0;
        background: url(https://cdn.xl.thumbs.canstockphoto.com/red-paramedic-ambulance-red-paramedic-ambulance-bold-colors-big-rims-lots-of-chrome-and-fast-vector-clipart_csp27893105.jpg);
        background-size: cover;
    font-family: sans-serif;
    }
    
    .loginbox{
        width: 320;
        height: 420;
        background: #000;
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%)/*;
        box-sizing: border-box*/;
        padding: 70px 30px;
    }
    .man{
        margin-top: 0px;
        margin-left: 0px;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }
    h1{
        margin-top: 10px;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }
    .loginbox p{
        margin: 0;
        padding: 0;
        font-weight: bold;
        object-fit: fill;
    
    }
    .loginbox input{
        width: 100%;
        margin-bottom: 20px;
    }
    .loginbox input[type="text"], input[type="password"]
    {
        border-radius: 15px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        height: 50px;
        color: #fff;
        font-size: 16px;
    
    }
    .loginbox input[type="submit"]
    {
        border: none;
        outline: none;
        height: 40px;
        background: #fb2525;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    
    }
    .login input[type="submit"]:hover
    {
        cursor: pointer;
        background: #ffc107;
        color: #000;
    }
    .loginbox a{
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgrey;
    
    }
    .loginbox a: hover
    {
        color: #ffc107;
    }</style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">  
        <div class="container-fluid">  
           <a class="navbar-brand" href="#"> <i class="fa fa-Heart " style="color:white;font-size: 30px;">IIITL MEDICAL</i></a>  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">  
            <span class="navbar-toggler-icon"></span></button>  
              
                <div class="collapse navbar-collapse" id="mynav">  
                <ul class="navbar-nav ml-auto">  
                   <li class="nav-item active" >  
                      
                    <a  class="nav-link" href="/home">Home</a>  
                    </li>  
                    <li class="nav-item " >  
                      
                    
                      
                    <a  class="nav-link" href="/service">Services</a>  
                    </li>  
                    <li class="nav-item" >  
                      
                    <a  class="nav-link" href="/home">Login as moderator</a>  
                    </li>  
                    <li class="nav-item" >  
                      
                    <a  class="nav-link" href="/loginasuser">Login as Public</a>  
                    </li>  
                    </ul>  
                 </div></div></nav>

                 <!-- loginpage -->

                 <div class="loginbox">
                    <img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/malecostume-512.png" class="man">
                    <h1>Login As Public</h1>
                    <form>
                      <p>Username</p>
                      <input type="text" name="" placeholder="Enter Username">
                      <p>Password</p>
                      <input type="password" name="" placeholder="Enter Password">
                      <input type="submit" name="" value="Login">
                      <a href="#">Forgetten Password</a><br>
                      <a href="#">Don't have an account?</a>
                 
                    </form>
                 
                   </div>
                 


                   
</body>
</html>
