<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>medical help</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">  
        <div class="container-fluid">  
           <a class="navbar-brand" href="#"> <i class="fa fa-Heart " style="color:white;font-size: 30px;">IIITL MEDICAL</i></a>  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">  
            <span class="navbar-toggler-icon"></span></button>  
              
                <div class="collapse navbar-collapse" id="mynav">  
                <ul class="navbar-nav ml-auto">  
                   <li class="nav-item active" >  
                      
                    <a  class="nav-link" href="/home">Home</a>  
                    </li>  
                    <li class="nav-item " >  
                      
                    
                      
                    <a  class="nav-link" href="/service">Services</a>  
                    </li>  
                    <li class="nav-item" >  
                      
                    <a  class="nav-link" href="/home">Login as moderator</a>  
                    </li>  
                    <li class="nav-item" >  
                      
                    <a  class="nav-link" href="/loginasuser">Login as Public</a>  
                    </li>  
                    </ul>  
                 </div></div></nav>


                 <p class = "card">  Booking OF Ambulance</p><br>
                 <div class="row">
                     <div class="column">
                 <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://cdn.xl.thumbs.canstockphoto.com/red-paramedic-ambulance-red-paramedic-ambulance-bold-colors-big-rims-lots-of-chrome-and-fast-vector-clipart_csp27893105.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Book This Ambulance</a>
                    </div>
                  </div>
                  </div>
               
                  <div class="column">
                    <div class="card" style="width: 18rem;">
                       <img class="card-img-top" src="https://cdn.xl.thumbs.canstockphoto.com/modern-ambulance-van-over-white-colored-vector-illustration-vector-clip-art_csp5130281.jpg">
                       <div class="card-body">
                         <h5 class="card-title">Card title</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                         <a href="#" class="btn btn-primary">Book This Ambulance</a>
                       </div>
                     </div>
                     </div>

                     <div class="column">
                        <div class="card" style="width: 18rem;">
                           <img class="card-img-top" src="https://cdn.xl.thumbs.canstockphoto.com/red-paramedic-ambulance-red-paramedic-ambulance-bold-colors-big-rims-lots-of-chrome-and-fast-vector-clipart_csp27893105.jpg" alt="Card image cap">
                           <div class="card-body">
                             <h5 class="card-title">Card title</h5>
                             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                             <a href="#" class="btn btn-primary">Book This Ambulance</a>
                           </div>
                         </div>
                         </div>

                         <div class="column">
                            <div class="card" style="width: 18rem;">
                               <img class="card-img-top" src="https://cdn.xl.thumbs.canstockphoto.com/modern-ambulance-van-over-white-colored-vector-illustration-eps-vectors_csp4624953.jpg">
                               <div class="card-body">
                                 <h5 class="card-title">Card title</h5>
                                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                 <a href="#" class="btn btn-primary">Book This Ambulance</a>
                               </div>
                             </div>
                             </div>
               
                </div>

                 
                 


                   
</body>
</html>
